<div>
<!--  username, email, password, confirm password-->
  <mat-card appearance="outlined">
    <mat-card-header class="margin-bottom-15 margin-bottom-100">
      <mat-card-title>  Create account </mat-card-title>
      <mat-card-subtitle>Fill in all the fields below</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="display-grid">
      <mat-form-field class="input-form-field">
        <mat-label>Enter the username</mat-label>
        <input matInput type="text" [(ngModel)]="username">
        @if (username) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="input-form-field">
        <mat-label>Enter the email</mat-label>
        <input matInput type="text" [(ngModel)]="email">
        @if (email) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="input-form-field">
        <mat-label>Enter the password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
        @if (password) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="input-form-field">
        <mat-label>Confirm the password</mat-label>
        <input matInput type="password" [(ngModel)]="confirmPassword">
        @if (confirmPassword) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="confirmPassword=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="submitRegisterForm()">
        Register
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header class="margin-bottom-15 margin-bottom-100">
      <mat-card-title> Login </mat-card-title>
      <mat-card-subtitle>Fill in all the fields below</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="display-grid">

      <mat-form-field class="input-form-field">
        <mat-label>Enter the email</mat-label>
        <input matInput type="text" [(ngModel)]="email">
        @if (email) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="input-form-field">
        <mat-label>Enter the password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
        @if (password) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="submitRegisterForm()">
       Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
